@using System.Security.Claims
@using Microsoft.AspNetCore.Identity
@using OnlineShop.Models.IdentityModels

@{
    Layout = "_Layout";
}

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
<!DOCTYPE html>
<html>
@section HeadSection {
<environment include="Development">
    <link rel="stylesheet" href="~/css/Login.css" />
</environment>
}
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a asp-area="" asp-controller="Account" asp-action="MainPage" class="navbar-brand">OnlineShop</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a asp-area="" asp-controller="Account" asp-action="Register">Register</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="container body-content">
            @RenderBody()
        </div>
    </body>
</html>
