@using OnlineShop.Models.IdentityModels
@using System.Security.Claims
@using Microsoft.AspNetCore.Identity

@{
    Layout = "_Layout";
}

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewBag.Title = "Login";
}

<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Account" asp-action="MainPage" class="navbar-brand">OnlineShop</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@*<a asp-area="" asp-controller="Account" asp-action="MainPage">Home</a>*@</li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
    </div>

    @RenderSection("Scripts", required: false)
</body>
</html>
