<div class="container1">
    @*<h1 class="text-center">Najczęście kupowane</h1>*@
    <!-- first product -->
    <div class="col-md-4 product-grid">
        <div class="image">
            <a href="@Url.Action("Product", "Product")">
                <img src="~/images/mały.jpg" class="img-rounded , img-responsive center-block" alt="Cinque Terre" width="304" height="236">
                <div class="overlay">
                    <div class="info">Get more info</div>
                </div>
            </a>
        </div>
        <h4 class="text-center">Shop</h4>
        <h5 class="text-center">Cena: 50</h5>
        <a href="@Url.Action("Product", "Product", new { id = 1 })" class="btn buy">BUY</a>

    </div>
    <!-- second product -->

    <div class="col-md-4 product-grid">
        <div class="image">
            <a href="#">
                <img src="~/images/black-friday-fashion-friends-1345082.jpg" class="img-rounded , img-responsive center-block" alt="Cinque Terre" width="304" height="236">
                <div class="overlay">
                    <div class="info">Get more info</div>
                </div>
            </a>
        </div>
        <h4 class="text-center">Shop</h4>
        <h5 class="text-center">Cena: 50</h5>
        <a href="@Url.Action("Product", "Product")" class="btn buy">BUY</a>

    </div>
    <!-- third product -->
    <div class="col-md-4 product-grid">
        <div class="image">
            <a href="#">
                <img src="~/images/black-friday-fashion-friends-1345082.jpg" class="img-rounded , img-responsive center-block" alt="Cinque Terre" width="304" height="236">
                <div class="overlay">
                    <div class="info">Get more info</div>
                </div>
            </a>
        </div>
        <h4 class="text-center">Shop</h4>
        <h5 class="text-center">Cena: 50</h5>
        <a href="#" class="btn buy">BUY</a>

    </div>
</div>