@{
    ViewBag.Title = "Sign up page";
}
@model OnlineShop.Models.SignUp


<h1>Sign up now</h1>

<form asp-action="SignUp" asp-controller="Detail" asp-route-returnurl="@ViewBag.ReturnUrl" method="post" role="form">

    <div asp-validation-summary="ModelOnly"></div>

    @if (ViewBag.Message != null)
    {
        @ViewBag.Message
    }
    <div class="form-group">
        <label asp-for="EmailAddress" class="control-label col-md-4"></label>
        <input asp-for="EmailAddress" class="form-control">
        <span class="text-danger" asp-validation-for="EmailAddress"></span>
    </div>
    <div class="form-group">
        <label asp-for="UserName" class="control-label col-md-4"></label>
        <input asp-for="UserName" class="form-control">
        <span class="text-danger" asp-validation-for="UserName"></span>

    </div>
    <div class="form-group">
        <label asp-for="Password" class="control-label col-md-4"></label>
        <input asp-for="Password" class="form-control">
        <span class="text-danger" asp-validation-for="Password"></span>
    </div>
    <div>
        <input type="submit" value="Sign Up" class="btn btn-default">
    </div>

</form>
