@model OnlineShop.Models.DomainModels.LoginViewModel
@using OnlineShop.Models.IdentityModels
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@using OnlineShop.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    Layout = "_LayoutLogin";
}
<head>
<link rel="stylesheet" type="text/css" href="~/css/Account/LoginRegister.css">
</head>
<body>
<form class="box" method="post" asp-controller="Account" asp-action="Login"
      asp-route-returnurl="@Model.ReturnUrl">
    <h2>Login</h2>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div>
        <input asp-for="Username" class="input" placeholder="Username" />
        <span asp-validation-for="Username"></span>
    </div>

    <div>
        <input asp-for="Password" class="input" placeholder="Password" />
        <span asp-validation-for="Password"></span>
    </div>

    <div>
        <label asp-for="RememberMe" class="remember"></label>
        <input asp-for="RememberMe"  />
        <span asp-validation-for="RememberMe"></span>
    </div>
    <input type="submit" class="submit" value="Login" />
</form> 
</body>