

.gallery-first {
    justify-content: center;
    height: 55vh;
}

section {
    display: flex;
    height: 80vh;
}

.gallery {
    margin-top: 5%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.preview {
    display: flex;
    border: 2px solid white;
    margin-top: 5px;
}

    .preview img {
        height: 23.3vh;
        flex-grow: 1;
        opacity: 0.6;
        cursor: pointer;
        transition: opacity 0.3s ease;
    }

img.room-active {
    opacity: 1;
}

.dropdown-toggle {
    color: black;
}

.dropdown-menu {
    min-width: 80px;
    text-align: center;
}

.dropdown-item {
    line-height: 1.5;
    color: black;
}

img {
    border: none;
}

.select-product-container {
    display: flex;
    flex-flow: column;
    margin-top: 5%;
    margin-right: 10%;
    align-items:center;
}

    .select-product-container select {
        width:30%;
    }

    .button-add {
        color: white;
        border: 1px solid #003939;
        background-color: #003939;
        padding: 10px;
        margin: 15px;
        border-radius: 0;
        width: 50%;
    }

.button-add:hover {
    background-color: #397373;
    color: #fff;
    border: 1px solid #003939;
}